// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
* {
    // font-family: 'Noto Serif', serif;
    // font-family: 'Karla', sans-serif;
    font-family: 'Fauna One', serif;
}

#subscribeContainer{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    letter-spacing: 1px;
}

@media (max-width: 882px) {
    #subscribeContainer {
        width: 90%;
    }
  
}

@media (max-width: 435px) {
    #inputBtn {
        flex-direction: column;
    }

    #subscribeBtn {
        width: 35%;
        margin-top: 20px;
    }
}

#subscribeContainer h1 {
    font-size: 3rem;
}

#subscribeContainer h2 {
    font-size: 1.25rem;
}

#subscribeInput {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: 1px solid rgb(164, 163, 163);
    font-weight: 400;
    line-height: 1.4375em;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    font-size: 0.65rem;
    // max-width: 350px;
    margin-right: 10px;
}
#subscribeInput::placeholder {
    font-size: 1rem;
    color: rgb(97, 97, 97);
}
#subscribeBtn {
    height: 50px;
    width: 20%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: #9A51F7;
    color: #fff;
}

#subscribeModal {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: rgba(252, 92, 172, 0.2) 0px 0px 50px;
    border: 1px solid rgba(255,255,255);
    width: 50%;
    padding: 3% 4%;
    max-width: 1000px;
    margin-bottom: 50px;
    letter-spacing: 0.75px;
}

#inputBtn {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {
    #subscribeModal {
        width: 95%;
    }
}

@media (max-width: 620px) {
  #subscribeBox {
    width: 85%;
  }
  #subscribeBtn {
      width: 23%;
  }
  #blocks {
    padding-left: 5%;
    padding-right: 5%;
  }
  #subscribeBox {
      margin-top: 100px;
  }

}
/*=========================MASTER========================*/
body {
    margin: 0;
    background-color: #fefaf6;
}
html, body {
    height: 100%;
}

/*=====================MainContainer=====================*/
#main-container{
    // max-width: 1488px;
    // margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}
/*==========================Nav==========================*/

/*=========================Home==========================*/
#blocks {
    display: flex;
    // justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 12%;
    padding-right: 12%;
    // max-width: 1488px;
    margin: 0 auto;
    
}

#leftNav {
    display: flex;
    gap: 30px;
}

#rightnav {
    display: flex;
    align-items: center;
    gap: 30px;
}
/*=======================SectionOne=======================*/
#firstContainer{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1500px;
}

#section-one-stashql-word{
    background: -webkit-linear-gradient(#FC5CAC, #9A51F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section-one {
    // border: 1px solid red;
    margin-top: 50px;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // align-items: center;
    align-items: center;
    // gap: 20px;
    letter-spacing: 1px;
}

#section-one-text {
    // border: 1px solid blue;
    width: 45%;
}

#section-one-text h1{
    font-size: 4rem;
}

#section-one-img {
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    width: 55%;
}

#logo {
    width: 100%;
}

@media (max-width: 1292px) {
    #section-one-text h1 {
        font-size: 3rem;
    }

    #logo {
        width: 130%;
    }
}

@media (max-width: 1240px) {
    #section-one-text h1 {
        font-size: 3rem;
    }

    // #section-one-img {
    //     width: 100%;
    // }

    #logo {
        width: 130%;
    }
}

@media (max-width: 945px) {
    #section-one-text h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 900px) {
    #section-one {
        flex-wrap: wrap;
        margin-top: 0;
    }

    #section-one-text h1 {
        font-size: 3.25rem;
        margin-top: -80px;
    }

    #section-one-text {
        width: 100%;
        order: 2;
        text-align: center;
        position: relative;
        bottom: 100px;
    }

    #section-one-img {
        width: 90%;
        margin-top: -60px;

    }
}

@media (max-width: 700px) {
    #section-one-img {
        margin-top: -20px;
    }

    #section-one-text h1 {
        margin-top: -20px;
    }
}

@media (max-width: 590px) {

    #section-one-text h1 {
        margin-top: 20px;
    }
}

@media (max-width: 590px) {

    #section-one-text h1 {
       font-size: 2.5rem;
    }
}

/*=======================SectionTwo=======================*/
#features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 28%;
    gap: 4%;
    margin-bottom: 25px;
}

#feature1,
#feature2,
#feature3 {
    border: 1px solid red;
    width: 250px;
    height: 170px;
    min-width: 175px;
    border: 1px solid rgba(241, 207, 241, 0.5);
    text-align: center;
    animation: float 3s ease-in-out infinite;
    z-index: -1;
    margin-bottom: 75px;
    border-radius: 7px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#icon-box1,
#icon-box2,
#icon-box3 {
    margin-top: 10px;
    width: 25%;
    height: 27%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}
#icon-box1,
#icon-box3 {
    background-color: rgba(154,81,247,.5);
    color: #9A51F7;
}

#icon-box2 {
    background-color: rgba(252,92,172,.5);
    color: #FC5CAC;
}
/*======================SectionThree=======================*/
/*======================SectionFour=======================*/
/*======================SectionFive=======================*/
#featuresContainer {
    // padding: 70px 50px;
    padding: 3% 5%;
    border-radius: 20px;
    background: linear-gradient(6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee;
    // max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1500px;
    margin-bottom: 75px;
    letter-spacing: 1px;
    height: 950px;
    transition: margin 0.2s ease-in-out;
}

#featuresContainer:hover {
    margin-top: -10;
}

#featuresContainerText,
#teamContainerText {
    text-align: right;
}

#filler-img{
    // max-width: 450px;
    // min-width: 350px;
    width: 45%;
    filter: drop-shadow(25px 10px 4px rgba(0,0,0,0.15));
}

@media (max-width: 800px) {
    #filler-img{
        // max-width: 350px;
        // min-width: 250px;
        width: 37%;
    }
}

#section-three,
#section-five{
    display: flex;
    flex-flow: wrap;
    flex-basis: 45%;
    justify-content: space-around;
    // gap: 10%;
    align-items: center;
    margin-bottom: 50px;
}
#section-three-text,
#section-four-text,
#section-five-text{
    display: flex;
    justify-content: center;
    align-content: center;
    // max-height: 350px;
    max-width: 450px;
    min-width: 350px;
}


#section-four{
    display: flex;
    flex-flow: wrap-reverse;
    flex-basis: 45%;
    justify-content: space-around;
    // gap: 10%;
    align-items: center;
    margin-bottom: 50px;
}

#section-three-img,
#section-four-img,
#section-five-img {
    text-align: center;
}

#section-three-text h1,
#section-four-text h1,
#section-five-text h1 {
    font-size: 2.5rem;
}

@media(max-width: 1421px){
    #featuresContainer {
        text-align: center;
    }
}

/*=========================Footer==========================*/
#footer-box{
    background-color:#00062B;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    // flex-direction: column;
    width:100%;
    
    height: 200px;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
#footer-logo-box{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1488px;
    flex-basis: 20%;
    gap: 4%;
}
#footer-logo-a-div{
    height: 30px;
}
#footer-logo-a-div-img{
    width:100%;
    height:100%;
    object-fit:cover;
}
#footer-nav-box{
    display: flex;
    justify-content: space-evenly;
    max-width: 1488px;
    width: 1488px;
}
#footer-nav-ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}
#footer-nav-li{
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

#footer-nav-a{
    text-decoration: none;
    color: #ffffff;
}

#footer-nav-a:link {
    text-decoration: none;
}

#footer-nav-a:visited {
    text-decoration: none;
}

#footer-nav-a:hover {
    text-decoration: underline;
}

#footer-nav-a:active {
    text-decoration: underline;
}
#copyright{
    color: #ffffff;
    // max-width: 1488px;
}
  
/*=========================DOC CSS=========================*/
#doc-box{
    display: flex;
    max-width: 1400px;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 50px;
}

#doc-code-block{
    font-family: Consolas,monaco,monospace; 
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: #24242c;
    border-radius: 5px;
    resize: none;
    width: 75%;
}
#doc-code-block span{
    font-family: Consolas,monaco,monospace;
}
/*=========================TEAM CSS=========================*/
#meet-the-team-div{
    display: flex;
    justify-content: center;
    align-content: center;
}

#teamContainer {
    padding: 3% 5%;
    border-radius: 20px;
    // background: linear-gradient(314.25deg,rgba(10,185,149,.7) 1.09%,rgba(10,185,149,0) 43.26%),#dacdff;
    background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    letter-spacing: 1px;
}

.team-box{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
    flex-basis: 20%;
    gap: 10%;
    margin-bottom: 50px;
    justify-content: center;
}

#team-member{
    border-radius: 15px;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    background: rgb(255,255,255);
    // width: 25%;
    // max-width: 300px;
    width: 20%;
    max-width: 350px;
    min-width: 225px;
    // background: linear-gradient(180deg, #00062B 50%, #ffffff 50%);
    // background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(154,81,247,1) 50%, rgba(252,92,172,1) 100%);
}
#team-member-image-box{
    display: flex;
    justify-content: center;
}

#team-member-image{
    border-radius: 5px;
    width:  200px;
    // width: 90%;
    height: 250px;
    object-fit: cover;
}
#team-member-name{
    color:#00062B;
    text-align: center;
}

#team-member-social{
    display: flex;
    align-items:center;
    flex-direction: row;
    flex-basis: 20%;
    gap: 20%;
    justify-content: center;
}

#team-member-linkedin-box,
#team-member-github-box{
    width:  25px;
    height: 25px;
}

#team-member-linkedin-img,
#team-member-github-img{
    align-self: center;
    max-width:  25px;
    max-height: 25px;
}

@media (max-width: 1406px) {

    #featuresContainer {
        padding-bottom: 550px;
    }
}

@media(max-width: 882px){
    
    .team-box{
        margin-bottom: 0;
    }
}

@media(max-width: 800px){
    
    // #featuresContainer {
    //     padding-bottom: 400px;
    // }
    #featuresContainer {
        padding-bottom: 70%;
    }
}

@media(max-width: 700px){
    
    // #featuresContainer {
    //     padding-bottom: 400px;
    // }
    #featuresContainer {
        padding-bottom: 50%;
    }

    #section-three-text h1,
    #section-four-text h1,
    #section-five-text h1 {
        font-size: 2rem;
    }

    #section-three-text h3,
    #section-four-text h3,
    #section-five-text h3 {
        font-size: 1rem;
    }
}

@media(max-width: 500px){

    #featuresContainer {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    #section-three-text h1,
    #section-four-text h1,
    #section-five-text h1 {
        font-size: 1.25rem;
    }

    #section-three-text h3,
    #section-four-text h3,
    #section-five-text h3 {
        display: none;
    }

}

@media(max-width: 520px){
    
    .team-box{
        display: flex;
        align-items:center;
        flex-direction: column;
    }
}

/*=========================DEMO=========================*/

// #query1,
// #mutation1 {
//     display: inline-block;
//     position: relative;
//     cursor: pointer;
//     padding-bottom: 0.35rem;
// }

// #query1::before,
// #mutation1::before {
//     content: "";
//     position: absolute;
//     // left: 0;
//     right: 0;
//     bottom: 0;
//     width: 0;
//     height: 2px;
//     background-color: #FC5CAC;
//     transition: width 0.25s ease-out;
// }

// #query1:hover::before,
// #mutation1:hover::before  {
//     width: 100%;
//     left: 0;
//     right: auto;
// }

#demoContainer {
    text-align: center;
    padding-top: 7%;
    display: flex;
    justify-content: center;
    height: 750px;
    gap: 10px;
}

#leftSide {
    padding-bottom: 20px;
    border-radius: 20px;
    width: 700px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
    background: linear-gradient(6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee;
}

#rightSide {
    padding-left: 30px;
    padding-right: 30px;
}

#chart {
    width: 850px;
}

#leftBox,
#rightBox {
    // border: 1px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftBoxOptions,
#rightBoxOptions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#selectedQuery,
#returnedData {
    width: 100%;
    height: 90%;
    resize: none;
    font-size: 0.8rem;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border: none;
}

#returnedData {
    margin-bottom: 58px;
}

#btnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#submitBtn {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #9A51F7;
    border: none;
    border-radius: 5px;
}

#clearBtn {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #9A51F7;
    border: none;
    border-radius: 5px;
}

#demoText {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    margin-top: 170px;
    padding-bottom: 200px;
}

@media(max-width: 1800px) {
    #demoContainer {
        padding-top: 12%;
    }

}

@media (max-width: 1450px) {
    #demoContainer {
        flex-wrap: wrap;
        padding-top: 500px;
        padding-bottom: 50%;
    }

    #leftSide {
        height: 650px;
        width: 80%;
        order: 2;
    }

    #rightSide {
        width: 95%;
        order: 1;
        margin-bottom: 50px;
    }

    #chart {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #demoText {
        position: absolute;
        top: -30px;
        // padding-left: 150px;
        // padding-right: 150px;
    }

    #leftNav {
        gap: 5px;
    }
}

@media (max-width: 1150px) {
    #demoText {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media(max-width: 899px) {
    #leftNav {
        display: none;
    }
}

@media (max-width: 880px) {
    #demoContainer {
        padding-top: 550px;
    }

    #demoText h1 {
        font-size: 1.5rem;
    }

    #rightSide {
        margin-top: -60px;
    }
}


@media (max-width: 750px) {
    #demoText {
        padding-left: 50px;
        padding-right: 50px;
    }

    #rightSide {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    #demoContainer {
        padding-top: 700px;
    }
}

@media (max-width: 575px) {
    #demoContainer {
        padding-top: 600px;
    }

    #leftSide {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    #leftBox,
    #rightBox {
        width: 100%;
    }
}

@media (max-width: 488px) {
    #rightSide {
        margin-top: -25px;
    }
}

@media (max-width: 430px) {
    #rightSide {
        margin-top: 5px;
    }
}

@media (max-width: 400px) {
    #demoContainer {
        font-size: 0.8rem;
        padding-top: 350px;
    }

    #chart {
        width: 97%;
    }

    #rightSide {
        margin-top: -70px;
        // padding-left: 0;
        // padding-right: 0;
    }

    #leftBoxOptions {
        gap: 10px;
    }

    #demoText h2,
    #demoText p {
        display: none;
    }

    #btnContainer {
        gap: 10px;
    }

}

@media (max-width: 380px) {
    #rightSide {
        margin-top: -30px;
    }
}

@media (max-width: 339px) {
    #rightSide {
        margin-top: -10px;
    }
}

@media (max-width: 271px) {
    #rightSide {
        margin-top: 5px;
    }
}

@media (max-width: 867px) {
    #subscribeContainer h1 {
        font-size: 2rem;
    }

    #subscribeContainer h2 {
        font-size: 1rem;
    }
}

@media (max-width: 619px) {
    #sub-h4 {
        font-size: 1rem;
    }

    #sub-h6 {
        font-size: 0.8rem;
    }

    #subscribeInput {
        height: 40px;
    }

    #subscribeInput::placeholder {
        font-size: 0.8rem;
    }

    #subscribeBtn {
        height: 40px;
        font-size: 0.8rem;
    }
}